.wrapper {
  width: 96%;
  margin: auto;
}

header {
  padding-top: 1rem;
  margin-bottom: 1rem;
  font-size: 1.25em;
  border-bottom: #eee double 3px;
}
@media screen and (min-resolution: 1.5dppx) {
  header {
    border-width: 6px;
  }
}

@media (min-width: 37.5em) {
  .wrapper {
    width: 70%;
  }
  header {
    font-size: 1.5em;
  }
}
@media (min-width: 60em) {
  .wrapper {
    width: 60%;
  }
  header {
    font-size: 2em;
  }
}
@media (min-width: 75em) {
  .wrapper {
    width: 55%;
  }
  header {
    font-size: 2.5em;
  }
}
@media (min-width: 93.75em) {
  .wrapper {
    width: 50%;
  }
}

h2 {
  float: left;
}
.tasks-note {
  clear: both;
}