<!DOCTYPE html>
<html>
<head>
  <title>Todo</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="wrapper">
  <header>
    <h1>Todo</h1>
    <p>A simple to do app.</p>
  </header>
  
  <main>
    <%= yield %>
  </main>
</div>

</body>
</html>
